[submodule "scripts/rofi-emoji"]
	path = scripts/rofi-emoji
	url = git@github.com:Mange/rofi-emoji
[submodule "scripts/rofi-pass"]
	path = scripts/rofi-pass
	url = git@github.com:carnager/rofi-pass
[submodule "scripts/rofi-file-browser-extended"]
	path = scripts/rofi-file-browser-extended
	url = git@github.com:marvinkreis/rofi-file-browser-extended
[submodule "scripts/rofi-calc"]
	path = scripts/rofi-calc
	url = git@github.com:svenstaro/rofi-calc
[submodule "scripts/rofi"]
	path = scripts/rofi
	url = git@github.com:davatorium/rofi
