configuration {
	modi: "drun,file-browser-extended";
	/* modi: "drun"; */
	width: 60;
	lines: 12;
	columns: 3;
	font: "Noto Sans 13";
	location: 0;
	padding: 18;
	sidebar-mode: true;
	combi-modi: "window,drun";
	color-normal: "#2e3440, #d8dee9, #2e3440, #2e3440, #bf616a";
	color-urgent: "#2e3440, #ebcb8b, #2e3440, #2e3440, #ebcb8b";
	color-active: "#2e3440, #b48ead, #2e3440, #2e3440, #93e5cc";
	color-window: "#2e3440, #2e3440, #2e3440";
}
